{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pop HTML5 Template</title>
<!--

Template 2097 Pop

http://www.tooplate.com/view/2097-pop

-->
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                                  <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">                <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>                       <!-- http://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css'}"/>
    <link rel="stylesheet" href="{% static 'css/tooplate-style1.css' %}">                               <!-- Templatemo style -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
    
</head>

<body>
    {% block content %}
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h3 class="mb-4" style="opacity: 0.8 ;color: white" align="center" >Enigma-Lab.</h3>
                            <!--<img src="{% static 'img/underline.png' %}" class="img-fluid mb-4" style="opacity: 0.5">-->
                            <p style="opacity: 0.8 ;color: #a4d6f5">New HTML Template with pop up pages and use this layout for your website</p>        
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        
                                        <div class="tm-nav-link" style="opacity: 0.5 ;background-color: black">
                                            
                                            {% if user_model_info.app_download %}
                                            <i class="fa fa-key fa-2x tm-nav-icon" style="opacity: 0.8 ;color: #cce6eb"></i>
                                            <span class="tm-nav-text" style="font-size: 16px">Subscription Info</span>
                                            {% else %}
                                            <i class="fas fa-robot fa-2x tm-nav-icon" style="opacity: 0.8 ;color: #cce6eb"></i>
                                            <span class="tm-nav-text" style="font-size: 16px ;color: #cce6eb">App Download</span>
                                            {% endif %}
                                            <div class="product__bg"></div>        
                                        </div>

                                        {% if user_model_info.app_download %}
                                        <div class="product__description">
                                            {% if user_model_info.token_time_remaining %}    
                                            <p>Your Token remaining time is  {{ user_model_info.token_time_remaining }}</p>
                                            {% else %}
                                            <p>Your subscription has expired.</p>
                                            <p>If you wish to start new subscription plan,please visit 'Account' section.</p>
                                            {% endif %}
                                            
                                        </div>
                                        {% else %}
                                        <div class="product__description">
                                            <form  method="post" class="contact-form" name='app_download' > {% csrf_token %}
                                                
                                                <button type="submit" method="post" class="btn btn-primary tm-btn-submit"  name="app_download"  href="http://127.0.0.1:8000/logged/">Download</button>
                                            </form> 
                                        </div>
                                        {% endif %}
                                                                           
                                          
                                            
                                        
                                    </div>
                                </div>
                                
                                <div class="grid__item" id="team-link">
                                    <div class="product">
                                        <div class="tm-nav-link" style="opacity: 0.5 ;background-color: black">
                                            <i class="fas fa-user-ninja fa-2x" style="color: #cce6eb"></i>
                                            
                                            <span class="tm-nav-text" style="color: #cce6eb;font-size: 16px">Account</span>

                                            <div class="product__bg"></div>            
                                        </div>                                     
                                        <div class="product__description" style="opacity: 0.2">
                                            <div class="header">
                                                
                                                {% if user_model_info.month_sub == True %}
                                                <h4 align="center">You have active Monthly subscription.</h4>
                                                {% elif user_model_info.week_sub == True %}
                                                <h4 align="center">You have active Weekly subscription.</h4>
                                                {% else %}
                                                <h5 align="center">You have no active subscriprion.PLease choose one of the options below.</h5>
                                                {% endif %}
                                                
                                            </div>
                                            <hr style="height: 50px">
                                        <div class="row">
                                            <div class="columns">
                                                 <ul class="price">
                                                   <li class="header" style="background-color: #9182bf">Weekly</li>
                                                   <li class="grey">£ 25 / week</li>
                                                   <li>24/5 live connection</li>
                                                   <li>Average of 14 trades a week</li>
                                                   <li>Average of 110 pips won</li>
                                                   <li class="grey">{{ form_week.render }}</li>
                                                 </ul>
                                                </div>
                                            

                                            <div class="columns">
                                                 <ul class="price" >
                                                   <li class="header" >Monthly</li>
                                                   <li class="grey">£ 60 / month</li>
                                                   <li>24/5 live connection</li>
                                                   <li>Average of 60 trades a month</li>
                                                   <li>Average of 420 pips won</li>
                                                   <li class="grey">{{ form_month.render }}</li>
                                                 </ul>
                                            </div>
                                        </div>


                                        <hr style="height: 50px">
                                            
                                        <div  align="center" style="bottom: 0">
                                            <form  method="post" class="contact-form" name='logout_form' > {% csrf_token %}
                                                <button type="submit" method="post" class="btn btn-primary tm-btn-submit" name="logout_form" >Log Out</button>
                                            </form>

                                        </div>



                                                                                                
                                        </div>
                                    </div>
                                </div>

                                <div style="opacity: 0.8" style="color: #cce6eb" class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link"style="opacity: 0.5 ;background-color: black">
                                            <i class="fas fa-video fa-2x tm-nav-icon" style="opacity: 0.8 ;color: #cce6eb "></i>
                                            <span class="tm-nav-text" style="font-size: 16px">About</span>
                                            <div class="product__bg" ></div>             
                                        </div>                                                                 
                                        <div  class="product__description">
                                            <div class="p-sm-4 p-2" >
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Simple and Effective</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <p>Register and download the free App with one week free trial.Install in your Metatrader 'data folder' and start making money.</p>
                                                    </div>
                                                </div>

                                                
                                                <div class="row" >
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <img src="{% static 'img/stock.gif' %}" class="img-fluid mb-3">
   
                                                    </div>

                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <h3>1.</h3>
                                                        <p>The algorithms are been constantly improved, caching the moves of the ever-changing markets.
                                                        The whole process is been supervised by traders and programmers.</p>
                                                        
                                                    </div>                                        
                                                </div>
                                                <hr style="height: 5px">

                                                <div class="row" >
                                                    

                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <h3>2.</h3>
                                                        <p>The algorithms are been constantly improved, caching the moves of the ever-changing markets.
                                                        The whole process is been supervised by traders and programmers.</p>
                                                        
                                                    </div>  
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <img src="{% static 'img/stock.gif' %}" class="img-fluid mb-3">
   
                                                    </div>                                      
                                                </div>

                                                <hr style="height: 5px">

                                                <div class="row" >
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <img src="{% static 'img/stock.gif' %}" class="img-fluid mb-3">
   
                                                    </div>

                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <h3>1.</h3>
                                                        <p>The algorithms are been constantly improved, caching the moves of the ever-changing markets.
                                                        The whole process is been supervised by traders and programmers.</p>
                                                        
                                                    </div>                                        
                                                </div>
                                                <hr style="height: 5px">


                                                <hr style="height: 20px ;border-width:20;color:white">
                                                <div class="row">
                                                <iframe width="760" height="350"src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                                </iframe>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>      

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link" style="opacity: 0.5 ;background-color: black">
                                            <i class="fas fa-comments fa-2x tm-nav-icon" style="color: #cce6eb" ></i>
                                            <span class="tm-nav-text" style="color: #cce6eb ;font-size: 16px" >Questions</span>
                                            <div class="product__bg"></div>             
                                        </div>                                                              
                                         <div class="product__description">
                                            <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Contact Us</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <p>Send us a message and we will try to get back to you as soon as possible.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form  method="post"  name="message_form">  {% csrf_token %}
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                  <input type="text" id="name" name="name" class="form-control" placeholder="Name"  required/>
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                                                                  <input type="email" id="email" name="email" class="form-control" placeholder="Email"  required/>
                                                                </div>
                                                            </div>                                                        
                                                            <div class="form-group">
                                                              <textarea id="contact_message" name="text" class="form-control" rows="9" placeholder="Message" required></textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary tm-btn-submit" name="message_form">Submit</button>
                                                        </form>
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>                       
                    </div>
                </div>                
            </div>
            <footer>
                <p class="small tm-copyright-text" style="opacity: 0.3">Copyright &copy; <span class="tm-current-year">2018</span> Z-VV. 
                
                </p>
            </footer>
        </div> <!-- .tm-main-content -->  
    </div>
    <!-- load JS -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>         <!-- https://jquery.com/ -->    
    <script src="{% static 'slick/slick.min.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->  
    <script src="{% static 'js/anime.min.js' %}"></script>                     <!-- http://animejs.com/ -->
    <script src="{% static 'js/main.js' %}"></script>  
    <script>      

        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');   
            }
        }

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });

            $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright           
        });

    </script>             

</body>
</html>